In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 25 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=652e3a0b90f325c02dfd5bedcce3e2c73edecad63fd5c503b1711739324d8130
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("make_make")
sc = SparkContext(conf=conf)

In [3]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate().getOrCreate()
spark = SparkSession(sc)

In [4]:
df = sc.textFile("/content/megabite.txt")
df.collect()

['1,10', '2,10', '5,10', '4,20', '3,30', '6,50', '2,90']

In [5]:
df1 = df.map(lambda x: x.split(","))  # split method applied.
df2 = df1.map(lambda x: (int(x[0]), int(x[1])))   # then defined int value.
df3 = df2.reduceByKey(lambda x,y: x+y) # applied reduce by key apply for adding     # what it is doing it is adding in the last.
df3.collect()                                                                       # yoou can see 2,10 and 2,90 ----------> but the output i am getting is 2,100.
                                                                                    # so, it get add in the last.

[(2, 100), (4, 20), (6, 50), (1, 10), (5, 10), (3, 30)]

In [6]:
df3.sortBy(lambda x: x[0]).collect()                               # so, it get sorted on x-values or front values

[(1, 10), (2, 100), (3, 30), (4, 20), (5, 10), (6, 50)]

In [7]:
df4 = df3.sortBy(lambda x: x[1])
df4.collect()                               # so, it get sorted on y-values or back values

[(1, 10), (5, 10), (4, 20), (3, 30), (6, 50), (2, 100)]

In [10]:
df3.sortByKey(lambda x: x[1]).collect()

[(1, 10), (2, 100), (3, 30), (4, 20), (5, 10), (6, 50)]

#questions

In [11]:
df.collect()          # it is in list.
                      # single quote is there.
                      # and it is original df without any manipulation.

['1,10', '2,10', '5,10', '4,20', '3,30', '6,50', '2,90']

In [18]:
df1 = df.map(lambda x: int(x.split(",")[1]))
df1.collect()          # here i converted in "int" and then used split with only last element which is y.

[10, 10, 10, 20, 30, 50, 90]

In [20]:
df2 = df1.map(lambda x: (x,1))                  # in the last i want to add 1 in every cell.
df2.collect()

[(10, 1), (10, 1), (10, 1), (20, 1), (30, 1), (50, 1), (90, 1)]

In [24]:
df3 = df2.sortByKey(lambda x,y: x+y)
df3.collect()

[(10, 1), (10, 1), (10, 1), (20, 1), (30, 1), (50, 1), (90, 1)]

# ----------------------------------------------------------------------