In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 40 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 84.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=53eb62da04b29fb6bd9e6295e6fb3fd286a1a8fbc2a03570b5fc056ffc89ea0b
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("google")
sc = SparkContext(conf = conf)

In [3]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate().getOrCreate()
spark = SparkSession(sc)

In [5]:
df = sc.textFile("/content/numberwith_prob.txt")            # so, it is my file.
df.collect()                                                

                                                            # the ouutput is in list here.

['23, 3000', '34, 4000', '55, 5000', '66, 7000', '88, 9000']

In [17]:
split = df.map(lambda x: x.split(","))                      # first i did split.
split.map(lambda x: (x[0],x[1])).collect()                  # then applied lembda on x[0]---> means, x-elements
                                                            # and x[1]---> means, y-elements.

                                                            # but output here tuple inside list.

[('23', ' 3000'),
 ('34', ' 4000'),
 ('55', ' 5000'),
 ('66', ' 7000'),
 ('88', ' 9000')]

# questions

In [18]:
df.collect()

['23, 3000', '34, 4000', '55, 5000', '66, 7000', '88, 9000']

In [27]:
split = df.map(lambda x: x.split(","))                          # using of split command.

split_special = split.map(lambda x: (int(x[0]), int(x[1]))) # i want x and y elements in the cell. calling 0 and 1.

split_special.sortByKey(lambda x,y: x+y).collect()              # sorting, if there is repetion in any no. then 
                                                                # it will get addded.

[(23, 3000), (34, 4000), (55, 5000), (66, 7000), (88, 9000)]

# self revision questions

In [34]:
txt = sc.textFile("/content/numberwith_prob.txt")       # it is original file without any filteration.
txt.collect()

['23, 3000', '34, 4000', '55, 5000', '66, 7000', '88, 9000']

In [32]:
txt = sc.textFile("/content/numberwith_prob.txt")                     # load the text file.
txt_split = txt.map(lambda x: x.split(","))                           # i did split by commmas.
text_split_int = txt_split.map(lambda x: (int(x[0]), int(x[1])))      # i have defined it into int value.
text_split_int_sort = text_split_int.sortByKey(lambda x,y: x+y)       # sorting the values in x+y if there.
text_split_int_sort.collect()                                         # then checking the resuly by collect.

[(23, 3000), (34, 4000), (55, 5000), (66, 7000), (88, 9000)]