In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 39.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=c5b2afab016332f8d91af49868004e1e3dcadf6d65e11f679203f6cecdf355d1
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark import SparkContext, SparkConf            # import spark context and spark conf.
conf = SparkConf().setAppName("mastermind")            # setting app name "mastermind".
sc = SparkContext(conf=conf)                           # now, i do conf = conf.

In [3]:
from pyspark.context import SparkContext               # import sparcontext.
from pyspark.sql.session import SparkSession           # importing sparksession.
sc = SparkContext.getOrCreate().getOrCreate()          # calling and creating all context.
spark = SparkSession(sc)                               # sparksession should be sc.

In [4]:

# RDDs are most essential part of the PySpark or we can say backbone of PySpark.
# It is one of the fundamental schema-less data structures, that can handle both structured and unstructured data. 
# It makes in-memory data sharing 10 - 100x faster in comparison of network and disk sharing.

In [5]:
rdd = sc.textFile("/content/friends.txt")               # loading data.
rdd.collect()

['My name is Abhishek done my graduation from Motilal Nehru College.',
 'My name is Sachin done my graduation from SOL.',
 'My name is Roshan done my graduation from Motilal Nehru College.']

# length

In [6]:
# so, here checking the length of all the words.
# lambda is must because it is kind of condition.

rdd1 = rdd.flatMap(lambda x:(x, len(x)))                        # so, difference i have seen in flatmpa and map-

rdd1.collect()                                                  # the flatmap shows output in "list".
                                                                # but in flatmap, all the output is in single list.
                                                                
                                                                # the map show output "tuple under list".
                                                                # but in map, every thing is in tuple seperately
                                                                # and then it in single list.

['My name is Abhishek done my graduation from Motilal Nehru College.',
 66,
 'My name is Sachin done my graduation from SOL.',
 46,
 'My name is Roshan done my graduation from Motilal Nehru College.',
 64]

In [7]:
rdd1 = rdd.map(lambda x:(x, len(x)))                            # here is the output of map function.
rdd1.collect()

[('My name is Abhishek done my graduation from Motilal Nehru College.', 66),
 ('My name is Sachin done my graduation from SOL.', 46),
 ('My name is Roshan done my graduation from Motilal Nehru College.', 64)]

# split

In [8]:
rdd2 = rdd.flatMap(lambda x:x.split(" "))           # using flatmap
rdd2.collect()                                      # using split method but output is in single list.

['My',
 'name',
 'is',
 'Abhishek',
 'done',
 'my',
 'graduation',
 'from',
 'Motilal',
 'Nehru',
 'College.',
 'My',
 'name',
 'is',
 'Sachin',
 'done',
 'my',
 'graduation',
 'from',
 'SOL.',
 'My',
 'name',
 'is',
 'Roshan',
 'done',
 'my',
 'graduation',
 'from',
 'Motilal',
 'Nehru',
 'College.']

In [9]:
rdd2 = rdd.map(lambda x:x.split(" "))                             # map method.
rdd2.collect()                                                    # the output is in list inside list.

[['My',
  'name',
  'is',
  'Abhishek',
  'done',
  'my',
  'graduation',
  'from',
  'Motilal',
  'Nehru',
  'College.'],
 ['My', 'name', 'is', 'Sachin', 'done', 'my', 'graduation', 'from', 'SOL.'],
 ['My',
  'name',
  'is',
  'Roshan',
  'done',
  'my',
  'graduation',
  'from',
  'Motilal',
  'Nehru',
  'College.']]

In [10]:
rdd.collect()             # file output.

['My name is Abhishek done my graduation from Motilal Nehru College.',
 'My name is Sachin done my graduation from SOL.',
 'My name is Roshan done my graduation from Motilal Nehru College.']

In [11]:
rdd2 = rdd.map(lambda x: x.split(" ")[1])                   # using split function with index[1].
rdd2.collect()                                              # so, 1 is here index no..

['name', 'name', 'name']

In [12]:
rdd2 = rdd.map(lambda x: x.split(" ")[0])                   # so, it shows index 0.
rdd2.collect()

['My', 'My', 'My']

In [13]:
rdd2 = rdd.flatMap(lambda x: x.split(" ")[0])                   # so, it shows index 0.
rdd2.collect()                                                  # but by the using of flatmap,
                                                                # it shows each ' ' seperated word.

['M', 'y', 'M', 'y', 'M', 'y']

In [14]:
rdd3 = rdd.map(lambda x: x.split(","))        # this "," split can remove commas in each letter.
rdd3.collect()

[['My name is Abhishek done my graduation from Motilal Nehru College.'],
 ['My name is Sachin done my graduation from SOL.'],
 ['My name is Roshan done my graduation from Motilal Nehru College.']]

In [16]:
from pyspark.sql import functions as F

In [15]:
# it is showing empty list.
# using filteration in it.
# first doing split then filttering the data. it will give result but "facing some issue"

# the output should look like ['is','is','is']

rdd4 = rdd.flatMap(lambda y: y.split(","))
rdd5 = rdd4.filter(lambda y: y == "is")
rdd5.collect()

[]

# parallelize, union, intersection and count

In [17]:
# parallelize.
rdd1 = sc.parallelize(((1,"jan",2010),(2,"may",2010),(5,"june",2010)))
rdd2 = sc.parallelize(((1,"may",2010),(2,"dec",2019)))
rdd3 = sc.parallelize(((1,"may",2010),(1,"jan",2010),(6,"nov",2022)))
print(rdd1.collect())
print(rdd2.collect())
print(rdd3.collect())

[(1, 'jan', 2010), (2, 'may', 2010), (5, 'june', 2010)]
[(1, 'may', 2010), (2, 'dec', 2019)]
[(1, 'may', 2010), (1, 'jan', 2010), (6, 'nov', 2022)]

In [18]:
#union
# union contain same values.

union = rdd1.union(rdd2).union(rdd3)
union.collect()

[(1, 'jan', 2010),
 (2, 'may', 2010),
 (5, 'june', 2010),
 (1, 'may', 2010),
 (2, 'dec', 2019),
 (1, 'may', 2010),
 (1, 'jan', 2010),
 (6, 'nov', 2022)]

In [19]:
# intersection always give unique values.

intersection = rdd1.intersection(rdd2).intersection(rdd3)
intersection.collect()

[]

In [20]:
intersection1 = rdd2.intersection(rdd3)
intersection1.collect()

[(1, 'may', 2010)]

In [21]:
# intersection with count.
intersection1 = rdd2.intersection(rdd3)      # we can see with count the matching record show 1.
intersection1.count()

1

# checking type

In [22]:
type(rdd1)    # checking type of rdd1. so, it is rdd

pyspark.rdd.RDD

# saving file

In [23]:
union.collect()

[(1, 'jan', 2010),
 (2, 'may', 2010),
 (5, 'june', 2010),
 (1, 'may', 2010),
 (2, 'dec', 2019),
 (1, 'may', 2010),
 (1, 'jan', 2010),
 (6, 'nov', 2022)]

In [24]:
union.saveAsTextFile("mastermind")          # by this i can save the textfile like in cluster way.
                                            # cluster means, distribution of data in blocks.

# take method

In [25]:
rdd1.collect()

[(1, 'jan', 2010), (2, 'may', 2010), (5, 'june', 2010)]

In [26]:
rdd1.take(1)                    # take is we select values. it mean, how many values i wanna see.
                                # so, i use take method.

[(1, 'jan', 2010)]

# distinct

In [27]:
union.collect()

[(1, 'jan', 2010),
 (2, 'may', 2010),
 (5, 'june', 2010),
 (1, 'may', 2010),
 (2, 'dec', 2019),
 (1, 'may', 2010),
 (1, 'jan', 2010),
 (6, 'nov', 2022)]

In [28]:
dis = union.distinct()        # so, it shows distinct values.
dis.collect()

[(1, 'may', 2010),
 (6, 'nov', 2022),
 (2, 'may', 2010),
 (5, 'june', 2010),
 (2, 'dec', 2019),
 (1, 'jan', 2010)]

# parallelize some questions

In [29]:
# so, here i have made the list.
# using parralelize to combine all.
# tuple under list.

my_list = ((1,200),(2,300),(4,500),(3,400),(5,600))
rdd = sc.parallelize(my_list)
rdd.collect()

[(1, 200), (2, 300), (4, 500), (3, 400), (5, 600)]

# sortbykey and some typical questions

In [30]:
rdd.sortByKey().collect()                         # it sort the values.

[(1, 200), (2, 300), (3, 400), (4, 500), (5, 600)]

In [31]:
my_list1 = [(5,800),(1,300),(3,700),(2,1000)]             # making list
rdd = sc.parallelize(my_list1)                            # ascending in order
rdd.sortBy(lambda x: x[0]).collect()                      # x[0] it means, it will only change in x output.

[(1, 300), (2, 1000), (3, 700), (5, 800)]

In [32]:
my_list1 = [(5,800),(1,300),(3,700),(2,1000)]             # making list
rdd = sc.parallelize(my_list1)                            # ascending in order.
rdd.sortBy(lambda x: x[1]).collect()                      # x[1] it means, it will only change in y output.

[(1, 300), (3, 700), (5, 800), (2, 1000)]

In [33]:
my_list = [(5,800),(1,300),(3,700),(2,1000)]
rddd = sc.parallelize(my_list)
rdd.sortBy(lambda x: x[1], False).collect()               # so, it is going on descending in

[(2, 1000), (5, 800), (3, 700), (1, 300)]

In [34]:
word = ["one","two","three","four","five","six","seven"]
data = sc.parallelize(word)
data_res = data.flatMap(lambda x: (x,2))                     # defining lambda funnction with this i want x and "2"
data_res.collect()                                           # this result is in flatmap.

['one', 2, 'two', 2, 'three', 2, 'four', 2, 'five', 2, 'six', 2, 'seven', 2]

In [35]:
word = ["one","two","three","four","five","six","seven"]
data = sc.parallelize(word)
data_res = data.map(lambda x: (x,2))                     # defining lambda funnction with this i want x and "2"
data_res.collect()                                       # this result is in map.

[('one', 2),
 ('two', 2),
 ('three', 2),
 ('four', 2),
 ('five', 2),
 ('six', 2),
 ('seven', 2)]

In [43]:
# so, here i am counting how many words are there.

word = ["one","two","three","four","four","three","three","three"]
data = sc.parallelize(word)
data_res = data.map(lambda x:(x,1))                     # setting indexes.
data_res.reduceByKey(lambda x,y: x+y).collect()         # applying x+y

[('two', 1), ('three', 4), ('four', 2), ('one', 1)]

In [44]:
# same thing  i am producing here.

word = ["abhi","abhi","abhi","ram","kiran","shanti","shanti"]

data = sc.parallelize(word)
data_res = data.map(lambda x: (x,1))
data_res.reduceByKey(lambda x,y: x+y).collect()

[('kiran', 1), ('shanti', 2), ('abhi', 3), ('ram', 1)]